[project]
	description =  JavaScript parser / mangler / compressor / beautifier toolkit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/charles (charlestsai2015)
[access "refs/for/refs/*"]
	read = group user/charles (charlestsai2015)
	push = group user/charles (charlestsai2015)
	label-Code-Review = -2..+2 group user/charles (charlestsai2015)
	label-Verified = -1..+1 group user/charles (charlestsai2015)
	rebase = group user/charles (charlestsai2015)
	removeReviewer = group user/charles (charlestsai2015)
	submit = group user/charles (charlestsai2015)
[access "refs/heads/*"]
	read = group user/charles (charlestsai2015)
	create = group user/charles (charlestsai2015)
	push = +force group user/charles (charlestsai2015)
	pushMerge = group user/charles (charlestsai2015)
[access "refs/tags/*"]
	push = group user/charles (charlestsai2015)
	push = +force group user/charles (charlestsai2015)
